$themes: map-merge($themes, (
  db: map-merge($theme-defaults, (
    background-color: #252626,
    medium-color: #A7A8A8,
    text-color: #C0C0C0,
    action-color: #FFFFFF,
    error-color: #FD6D67,
  ))
));
